* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 2rem 0.3rem;
  width: 100%;
  height: 800px;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1.8rem;
}

h2 {
  margin-bottom: 15px;
  font-weight: 400;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

img.under {
  width: 8rem;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-wrapper {
  max-width: 650px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px 50px;
}

button {
  cursor: pointer;
  font-size: 1rem;
  overflow-wrap: break-word;
  background-color: ghostwhite;
  border: none;
}

form div {
  padding: 15px 0;
}

form div label {
  display: block;
  font-weight: 400;
  font-size: 0.9rem;
}

form div input {
  height: 50px;
  width: 100%;
  background-color: white;
  font-size: 1rem;
  padding: 0 10px;
  border: none;
}

form div button {
  padding: 10px 30px;
  border-radius: 4px;
}

form div button:hover {
  background-color: black;
  color: white;
}

/* skidanje bulleta kod ul elemenata */
form ul {
  list-style: none;
  padding: 0;
}

form ul li {
  color: red;
  padding-top: 5px;
}

.no-acc-register {
  text-align: center;
  margin-top: 30px;
}

.no-acc-register button {
  padding: 15px;
  border-radius: 4px;
}

.no-acc-register button:hover {
  background-color: black;
  color: white;
}

.no-acc-register p {
  margin-bottom: 15px;
  font-size: 20px;
}

/* posebno za hexa.html   */
.custom-modal {
  display: none;
  background-color: #0A2628;
  box-shadow: rgba(255, 255, 255, 0.7) 0 0 1000px 1000px;
  max-width: 650px;
  margin: auto;
  padding: 50px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
}

.custom-modal button#closeModal {
  height: 20px;
  width: 20px;
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 30px;
  top: 30px;
}

.container {
  margin: auto;
}

.inner-container {
  border: 1px solid #FBB03B;
  padding: 15px;
}

.inner-container.left-side {
  text-align: center;
}

.inner-container img.profile {
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid #1C6872;
  margin-bottom: 20px;
}

.inner-container.right-side form {
  display: flex;
  height: 100px;
}

.inner-container.right-side form textarea {
  width: 80%;
  border: 0;
  padding: 10px;
  resize: none;
  outline: none;
  background-color: white;
}

.inner-container.right-side form button {
  width: 20%;
  border: 0;
}

button#btnPost {
  background-color: #1C6872;
  color: white;
}

button#btnEdit {
  border: none;
  color: white;
  background-color: #677426;
}

button#btnDelete {
  border: none;
  color: white;
  background-color: #C00000;
  padding: 10px 15px;
}

.hrDelete {
  margin-bottom: 50px;
}

#username, #profile_email {
  padding: 5px;
  font-weight: 300;
}

#profile_email {
  font-size: 12px;
}

#editAccount, #logout {
  padding: 5px;
  margin: 5px 0.25rem 0 0.25rem;
  font-size: 0.9em;
}

#allPostsWrapper .single-post {
  background-color: #eaeaea;
  padding: 15px;
  margin-top: 15px;
  color: #000;
}

#allPostsWrapper .single-post .post-content {
  padding-bottom: 10px;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 10px;
  font-size: 1rem;
}

span.autor {
  font-weight: 500;
  color: #1C6872;
}

#allPostsWrapper .single-post .post-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*color: grey;*/
  font-size: 0.8rem;
}

#allPostsWrapper .single-post .post-action div button.like-btn {
  background-image: url('../img/like.png');
  padding: 5px 15px 5px 40px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-color: transparent;
  border: 0;
  font-size: 0.8rem;
}

#allPostsWrapper .single-post .post-action div button.comment-btn {
  background-image: url('../img/comment.png');
  padding: 5px 15px 5px 40px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-color: transparent;
  border: 0;
  font-size: 0.8rem;
}

#allPostsWrapper .single-post .post-action div button.remove-btn {
  background-image: url('../img/remove.png');
  padding: 5px 0 5px 40px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-color: transparent;
  color: transparent;
  border: 0;
}

#allPostsWrapper .single-post .post-comments form {
  font-size: 0.8rem;
  height: 30px;
  margin-top: 15px;
}

#allPostsWrapper .single-post .post-comments form input {
  width: 90%;
  padding: 0 10px;
}

#allPostsWrapper .single-post .post-comments form button {
  width: 10%;
  background-color: #1C6872;
  color: white;
  font-size: 0.8rem;
}

#allPostsWrapper .single-post .post-comments {
  display: none;
}

#allPostsWrapper .single-post .post-comments .single-comment {
  border: 1px dotted #1C6872;
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: 0.8rem;
}

.single-comment {
  display: flex;
  flex-wrap: nowrap;
}

.left-comment {
  padding: 0;
  color: #103A40;
  width: 97%;
}

.right-comment {
  padding: 0 10px 0 10px;
  margin-right: 0.5rem;
  text-align: end;
  color: #8B0000;
  width: 3%;
}

button.comment-remove {
  margin-right: 0.5rem;
  border: 0;
  border-radius: 4px;
  width: 1.5rem;
  color: white;
  background-color: lightgrey;
}

button.comment-remove:hover {
  background-color: #8B0000;
}

.comment-user-name {
  font-weight: 500;
  color: #1C6872;
}

.comment-user {
  margin-bottom: 0;
}
